<div id="header">
  <div><h1>Suret Salu</h1></div>

  <div id="header_list">
  <ul >
    <li>
      About
    </li>
    <li>
      Courses
    </li>
    <li>
      About Us
    </li>
  </ul>
  </div>

  <div>
  <img class="SocialNetworks" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/800px-Instagram_logo_2016.svg.png" alt="Instagram" width="40">
  <img class="SocialNetworks" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/WhatsApp_logo-color-vertical.svg/2048px-WhatsApp_logo-color-vertical.svg.png" alt="WhatsApp" width="40">
  <button class="button">Login</button>
  </div>
</div>


<div id="body">
  <img src="https://icdn.lenta.ru/images/2018/06/14/16/20180614163924192/detail_5ff3119dc001c7a5748c0af0d4444746.jpg" alt="suretSaluImage">

  <p>Information</p>

  <h3>Teachers</h3>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH8Ip1UKF62H75zXODY0qprjo3ZRv0_idr8g&usqp=CAU" alt="teacher1">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH8Ip1UKF62H75zXODY0qprjo3ZRv0_idr8g&usqp=CAU" alt="teacher2">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH8Ip1UKF62H75zXODY0qprjo3ZRv0_idr8g&usqp=CAU" alt="teacher3">

  <h3>Location</h3>

  <img src="map.png" alt="map">

</div>

